<div class="wrap">

  <form class="centered-box centered-box-lg">
    <app-form-header [backButtonVisible]="true" (backButtonClicked)="goBack()"></app-form-header>

    <br>

    <div class="tabs" *ngIf="analyticsMap.size > 0; else noScans">
      <div class="tab" *ngFor="let scan of analyticsMap | keyvalue">
        <input [id]="scan.key" type="radio" name="analytics">
        <label class="tab-label" [attr.for]="scan.key">
          {{ scan.key }} - Broj posjeta na link: {{ scan.value.length }}
        </label>
        <div class="tab-content">
          <div class="responsive-table-wrapper">
            <table>
              <tr>
                <th>Datum i vrijeme</th>
                <th>Sistem</th>
                <th>Uređaj</th>
                <th>Pretraživač</th>
                <th>Poruka</th>
              </tr>
              <tr *ngFor="let info of scan.value">
                <td>{{ info.date | date: 'd MMM y, HH:mm' }}</td>
                <td>{{ info.os }}</td>
                <td>{{ info.device }}</td>
                <td>{{ info.browser }}</td>
                <td>{{ info.message ?? '-' }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noScans>
      <h1>{{ didGetResponseFromServer ? 'Još uvijek nema skenova.' : 'Učitavanje...' }}</h1>
    </ng-template>
  </form>
</div>
