<div class="wrap">
  <form class="centered-box">
    <app-form-header [errorMessage]="errorMessage"></app-form-header>

    <br>

    <div class="form-content" *ngIf="!isLoginSuccessful">
      <!--Email Input-->
      <div class="form-group">
        <input [(ngModel)]="emailAddress" required name="email" type="email" class="form-input" placeholder="Email address">
      </div>

      <!--Password Input-->
      <div class="form-group">
        <input (keyup.enter)="loginButtonClicked()" [(ngModel)]="pin" required type="text" name="pin" class="form-input" placeholder="PIN">
      </div>

      <!--Login Button-->
      <button class="form-button" type="button" disabled [disabled]="loginButtonDisabled" (click)="loginButtonClicked()">
        Log In
      </button>
    </div>

    <app-success-checkmark *ngIf="isLoginSuccessful" [text]="'Login successful.'"></app-success-checkmark>

  </form>
</div>
