<div class="wrap">
  <form class="centered-box">
    <div class="form-header">
      <img src="../../assets/images/logo.png" alt="Logo">
      <div class="error-box" *ngIf="errorMessage">
        <span>{{ errorMessage }}</span>
      </div>
    </div>

    <br>

    <div class="form-content" *ngIf="!isLoginSuccessful; else successCheckmark">
      <!--Email Input-->
      <div class="form-group">
        <input [(ngModel)]="emailAddress" required name="email" type="email" class="form-input" placeholder="Email adresa">
      </div>

      <!--Password Input-->
      <div class="form-group">
        <input (keyup.enter)="loginButtonClicked()" [(ngModel)]="code" required type="text" name="code" class="form-input" placeholder="Šifra">
      </div>

      <!--Login Button-->
      <button class="form-button" type="button" disabled [disabled]="loginButtonDisabled" (click)="loginButtonClicked()">
        Prijavi se
      </button>
    </div>

  </form>
</div>

<ng-template #successCheckmark>
  <div class="icon icon--order-success svg">
    <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
      <g fill="none" stroke="#8EC343" stroke-width="2">
        <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
        <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
      </g>
    </svg>
    <p>Prijava uspješna.</p>
  </div>
</ng-template>
