<div class="wrap">
  <form class="login-form" action="">
    <div class="form-header">
      <img src="../../assets/images/logo.png" alt="Logo">
    </div>
    <!--Email Input-->
    <div class="form-group">
      <input type="text" class="form-input" placeholder="Email address">
    </div>
    <!--Password Input-->
    <div class="form-group">
      <input type="password" class="form-input" placeholder="Code">
    </div>
    <!--Login Button-->
    <div class="form-group">
      <button class="form-button" type="submit">LOG IN</button>
    </div>
  </form>
</div>
