.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
}

.error-box {
  margin-top: 1rem;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  padding: 0.5rem;
}

.login-form {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 2rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding: 0 12px;
  width: 100%;
  height: 38px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 1rem;
}

.form-button {
  background: rgba(0, 0 ,0, 0.9);
  border: 1px solid #ddd;
  color: #ffffff;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  margin-top: 1rem;
}

.form-button:hover {
  cursor: pointer;
  background: rgba(0, 0 ,0, 1);
}

.form-button:disabled,
.form-button[disabled]{
  cursor: default;
  background: rgba(0, 0 ,0, 0.75);
}

.form-header {
  text-align: center;
  margin-bottom: 1em;
}

.form-footer {
  text-align: center;
}
