<div class="wrap">
  <form class="centered-box">
    <div class="form-header">
      <img src="../../assets/images/logo.png" alt="Logo">
      <div class="error-box" *ngIf="errorMessage">
        <span>{{ errorMessage }}</span>
      </div>
    </div>
    <!--Email Input-->
    <div class="form-group">
      <input [(ngModel)]="oldLink" disabled name="text" type="text" class="form-input" placeholder="Stari link">
    </div>
    <!--Password Input-->
    <div class="form-group">
      <input (keyup.enter)="changeButtonClicked()" [(ngModel)]="newLink" type="text" name="newLink" class="form-input" placeholder="Novi link">
    </div>
    <!--Login Button-->
    <button (click)="changeButtonClicked()" class="form-button" type="button" [disabled]="changeButtonDisabled">
      Promijeni link
    </button>
  </form>
</div>
