<div class="wrap">

  <!-- List of pages -->
  <form class="centered-box" *ngIf="!activePageId">

    <app-form-header></app-form-header>

    <br>

    <div class="form-content">
      <div class="form-group" *ngFor="let page of pages; let i = index">
        <button
          class="form-button"
          type="button"
          (click)="activePageId = page.id"
          [class.white-button]="(i + 1) % 2 === 0"
        >
            {{ page.name }}
        </button>
      </div>
    </div>

  </form>

  <!-- Change link Page -->
  <app-change-link *ngIf="activePageId === 1" (goToDashboard)="activePageId = undefined"></app-change-link>

</div>
