<form class="centered-box">

  <app-form-header
    [errorMessage]="errorMessage"
    (backButtonClicked)="goToDashboard.emit()"
    [backButtonVisible]="!changeLinkSuccessful"
  ></app-form-header>

  <br>

  <div class="form-content" *ngIf="!changeLinkSuccessful">

    <!--Old Link Input-->
    <div class="form-group">
      <input [(ngModel)]="oldLink" disabled name="text" type="text" class="form-input" placeholder="Stari link">
    </div>

    <!--New Link Input-->
    <div class="form-group">
      <input (keyup.enter)="changeButtonClicked()" [(ngModel)]="newLink" type="text" name="newLink" class="form-input" placeholder="Novi link">
    </div>

    <!--Change Link Button-->
    <button (click)="changeButtonClicked()" class="form-button" type="button" [disabled]="changeButtonDisabled">
      Promijeni link
    </button>
  </div>

  <!-- Success Message -->
  <ng-container *ngIf="changeLinkSuccessful">
    <app-success-checkmark [text]="'Link promijenjen.'"></app-success-checkmark>

    <button (click)="changeLinkSuccessful = false" class="form-button" type="button">
      OK
    </button>
  </ng-container>

</form>
